.sezione2 {

    .container{
        
        @mixin flex {
            display: inline-flex;
            flex-direction: column;
        } 
            
        

        .box {
            display: inline-flex;
            flex-direction: column;
            width: 351px;
            background: red;
            border-radius: 5px;
            margin-top: 5rem;
            
            
        }

        .box1 {
            margin-left: 15rem;
            height: 400px;
            #img1 {
                @include flex();
                background: center center/cover url(../immagini/corsi_pro.png);
                width: 350px;
                height: 200px;
            }
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // margin-right: 10px;

            
        }
        
        .box3 {
            display: inline-block;
        }
    }

    
}